.grid-container {
  display: grid;
  /* try to divide the page equally into 11 grid columns */
  grid-template-columns: repeat(11, 1fr);
}

.grid-container div {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 30px;
  border: 3px solid black;
}

.grid-container div:nth-child(odd) {
  background-color: grey;
}

.grid-container div:nth-child(even) {
  background-color: tomato;
}

.item13 {
  /* grid-column-start: 1; */
  /* grid-column-end: 3; */
  grid-column: 1/3;
  grid-row: 1/3;
}

.item1 {
}
